
#imgp{
  margin-left: 20px;
}

#imgp2{
  margin-left: 20px;
}

#imgp3{
  margin-left: 20px;
}

#map{
  margin-left: 20px;

header {
    height: 15vh;
    color: white;
    background-color: #665f55;
    z-index: -1;
    display: flex;
    flex-direction: row-reverse;
}

/*nav ul{
    float: left;
    display: inline-block;
    text-align: center;
    align-items: center;
}*/


navbar {
    float: right;

}
