* {
margin: 0;
padding: 0;
}
header {
    height: 15vh;
    color: white;
    background-color: #665f55;
    z-index: -1;
    display: flex;
    flex-direction: row-reverse;
}

/*nav ul{
    float: left;
    display: inline-block;
    text-align: center;
    align-items: center;
}*/


navbar {
    float: right;
}
